
# Attitude estimator's validity over time.
- type: Plot2D
  x: truth.t.s
  y: fc.leader.attitude.is_valid

# Attitude estimator's error in terms of degrees.
- type: Plot2DLog
  x: truth.t.s
  y: fc.leader.attitude.q.body_eci.error.degrees

# Attitude estimator's angular rate estimate and estimate error.
- type: Plot2D
  x: truth.t.s
  y: [fc.leader.attitude.w.x, fc.leader.attitude.w.y, fc.leader.attitude.w.z]
- type: Plot2D
  x: truth.t.s
  y: [fc.leader.attitude.w.error.x, fc.leader.attitude.w.error.y, fc.leader.attitude.w.error.z]
- type: Plot2D
  x: truth.t.s
  y: fc.leader.attitude.sigma.fro

# Attitude estimator performance in terms attitude and gyroscope bias error.
- type: PlotEstimate
  x: truth.t.s
  y: fc.leader.attitude.p.body_eci.x
- type: PlotEstimate
  x: truth.t.s
  y: fc.leader.attitude.p.body_eci.y
- type: PlotEstimate
  x: truth.t.s
  y: fc.leader.attitude.p.body_eci.z
- type: PlotEstimate
  x: truth.t.s
  y: fc.leader.attitude.w.bias.x
- type: PlotEstimate
  x: truth.t.s
  y: fc.leader.attitude.w.bias.y
- type: PlotEstimate
  x: truth.t.s
  y: fc.leader.attitude.w.bias.z


